# Em producao, troque pela URL do backend no Render.
# Ex: VITE_API_URL=https://doctapp-api.onrender.com
VITE_API_URL=http://localhost:3333

# Em producao, troque pela URL do frontend na Vercel.
# Ex: VITE_PATIENT_URL=https://doctapp.vercel.app
VITE_PATIENT_URL=http://localhost:5173
